<div class="pp2-home">
	<pp2--nav #C_Pp2__Nav></pp2--nav>
	<pp2-dry-container #C_Pp2_Dry_Container>
		<div class='pp2-content container margin-auto'>
			<h1 style='margin: 0 !important;padding: 40px;'>Selamat datang.</h1>
			<p>
				website ini dibuat dengan cinta.
			</p>
			<p>
				Nikmati perjalanan aman dan handal di web kami, layanan pemesanan transportasi online.
				Dengan jumlah mobil dan pengemudi yang sudah berpengalaman, menawarkan pemesanan transportasi mobil dan supirnya.
				Kami mencocokan kebutuhan transfortasimu dengan komunitas pengemudi kami untuk setiap pilihan Harga.
			</p>
		</div>
	</pp2-dry-container>
</div>
