<div class="pp2-dry-nav">
	<nav>
		<mat-toolbar color='primary'>
			<button mat-icon-button>
				<mat-icon class='pointer' (click)='$C_Mat_Sidenav_Click$.next()'>menu</mat-icon>
			</button>
			<span class='margin-l-20px'>Rental Mobil</span>
			<span class='flex-auto'></span>
			<button mat-button routerLink='/dev'>
				<a>Development</a>
			</button>
			<button mat-button routerLink='/su/'>
				<a>Dev</a>
			</button>
			<button mat-button routerLink='/su/supir/lihat'>
				<a>Lihat</a>
			</button>
			<button mat-button routerLink='/su/supir/tambah'>
				<a>Tambah</a>
			</button>
		</mat-toolbar>
	</nav>
</div>
