<div class="pp2-dry-sewaForm">
	<pp2-dry-container #C_Pp2_Dry_Container>
		<div class="container pp2-content margin-auto">
			<form fxLayout='column' fxLayoutAlign='center center'>
				<mat-card class='full-width'>
					<mat-card-header>
						<mat-card-title>Sewa Mobil</mat-card-title>
					</mat-card-header>
					<mat-card-content fxLayoutAlign='center center'>
						<div class="pp2-dry-sewaForm-container" fxLayout='column' style='height: 100%;width: 100%;'>
							<div fxFlex>
								<mat-select>
									<mat-option></mat-option>
								</mat-select>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</form>
		</div>
	</pp2-dry-container>
</div>