<div class="pp2-dry-sewaForm">
	<pp2-dry-container #C_Pp2_Dry_Container>
		<div class="container pp2-content margin-auto">
			<mat-card class='full-width'>
				<mat-card-header>
					<mat-card-title>Sewa Mobil</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div class="pp2-dry-sewaForm-container">
						<mat-vertical-stepper [linear]='true'>
							<mat-step [stepControl]='sewaForm_sewa'>
								<ng-template matStepLabel>Penyewaan</ng-template>
								<form [formGroup]='sewaForm_sewa'>
									<div fxLayout='column'>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input (click)='mulai.open()' formControlName='tgl_mulai' [min]='minDate' matInput [matDatepicker]="mulai" placeholder='Tanggal Mulai Sewa'>
												<mat-datepicker-toggle #toggle matSuffix [for]="mulai"></mat-datepicker-toggle>
												<mat-datepicker #mulai></mat-datepicker>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input formControlName='tgl_selesai' [min]='sewaForm_sewa.value.tgl_mulai' matInput [matDatepicker]="selesai" placeholder='Tanggal Selesai Sewa'>
												<mat-datepicker-toggle #toggle matSuffix [for]="selesai"></mat-datepicker-toggle>
												<mat-datepicker #selesai></mat-datepicker>
											</mat-form-field>
										</div>
										<div fxFlex>
											{{ sewaForm_sewa.value.tgl_mulai | json }}
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Total Hari Penyewaan' value=''>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Total Harga Penyewaan Mobil (Rp.)' value='{{ (Mobil?.hargaSewa ? Mobil.hargaSewa : "0") | currency:"IDR" }}'>
											</mat-form-field>
										</div>
										<div fxFlex *ngIf='Supir?.hargaSewa'>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Total Harga Penyewaan Supir (Rp.)' value='{{ (Supir?.hargaSewa ? Supir.hargaSewa : "0") | currency:"IDR" }}'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Total Harga Penyewaan Mobil + Supir (Rp.)' value=''>
											</mat-form-field>
										</div>
									</div>
								</form>
								<div>
									<button color='primary' mat-raised-button matStepperPrevious>Back</button>
									<button color='primary' mat-raised-button matStepperNext>Next</button>
								</div>
							</mat-step>
							<mat-step [stepControl]='sewaForm_mobil'>
								<ng-template matStepLabel>Mobil {{ Mobil?.hargaSewa ? ' => ' + (Mobil?.hargaSewa | currency:'IDR') : '' }}</ng-template>
								<form [formGroup]='sewaForm_mobil'>
									<div fxLayout='column'>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<mat-select formControlName='mobil' placeholder='Mobil'>
													<mat-option *ngFor='let mobil of Mobil$' [value]='$_pp2.stringify(mobil)'>
														<img [src]="$_pp2Conf.socket + '/uploads/mobil/' + mobil.image" class='iil'>
														<span class="owit">{{ mobil.nama }}</span>
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Nama Mobil' [value]='Mobil?.nama ? Mobil.nama : ""'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Plat Nomor' [value]='Mobil?.platNo ? Mobil.platNo : ""'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Jumlah Kursi' [value]='Mobil?.kursi ? Mobil.kursi : ""'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Bahan Bakar' [value]='Mobil?.bensin ? Mobil.bensin : ""'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Harga Sewa per Hari (Rp.)' value='{{ (Mobil?.hargaSewa ? Mobil.hargaSewa : "0") | currency:"IDR" }}'>
											</mat-form-field>
										</div>
									</div>
								</form>
								<div>
									<button color='primary' mat-raised-button matStepperNext>Next</button>
								</div>
							</mat-step>
							<mat-step [stepControl]='sewaForm_supir'>
								<ng-template matStepLabel>Supir {{ Supir?.hargaSewa ? ' => ' + (Supir?.hargaSewa | currency:'IDR') : '' }}</ng-template>
								<form [formGroup]='sewaForm_supir'>
									<div fxLayout='column'>
										<div fxFlex class='full-width'>
											<section class='padd-15px'>
												<mat-checkbox #butuhSupir color='primary'> Gunakan Jasa Supir?</mat-checkbox>
											</section>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<mat-select [disabled]='!butuhSupir.checked' formControlName='supir' placeholder='Supir' [required]='butuhSupir.checked'>
													<mat-option *ngFor='let supir of Supir$' [value]='$_pp2.stringify(supir)'>
														<img [src]="$_pp2Conf.socket + '/uploads/supir/' + supir.image" class='iil'>
														<span class="owit">{{ supir.nama }}</span>
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Nama Supir' [value]='Supir?.nama ? Supir.nama : ""'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Harga Sewa per Hari (Rp.)' value='{{ (Supir?.hargaSewa ? Supir.hargaSewa : "0") | currency:"IDR" }}'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Nomor SIM' [value]='Supir?.noSIM ? Supir.noSIM : ""'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Jenis Kelamin' [value]='Supir?.jk ? Supir.jk : ""'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='Nomor Seluler' [value]='Supir?.noHP ? Supir.noHP : ""'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder='E-Mail' [value]='Supir?.email ? Supir.email : ""'>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<textarea disabled matInput matAutosizeMaxRows='4' matTextareaAutosize placeholder="Alamat Supir" [value]='Supir?.alamat ? Supir.alamat : ""'></textarea>
											</mat-form-field>
										</div>
									</div>
								</form>
								<div>
									<button color='primary' mat-raised-button matStepperPrevious>Back</button>
									<button color='primary' mat-raised-button matStepperNext>Next</button>
								</div>
							</mat-step>
							<mat-step [stepControl]='sewaForm_saya'>
								<ng-template matStepLabel>Biodata Diri</ng-template>
								<form [formGroup]='sewaForm_saya'>
									<div fxLayout='column'>
										<div fxHide>
											<mat-form-field class='full-width'>
												<input disabled matInput>
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder="Nama" value="nama">
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder="Nomor KTP.">
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder="Nomor Seluler">
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder="Jenis Kelamin">
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<input disabled matInput placeholder="E-Mail">
											</mat-form-field>
										</div>
										<div fxFlex>
											<mat-form-field class='full-width'>
												<textarea disabled matInput matAutosizeMaxRows='4' matTextareaAutosize placeholder='Alamat'></textarea>
											</mat-form-field>
										</div>
										<div fxFlex>
											<button color='primary' mat-raised-button matStepperPrevious>Back</button>
											<button color='primary' mat-raised-button matStepperNext>Next</button>
										</div>
									</div>
								</form>
							</mat-step>
							<mat-step>
								<ng-template matStepLabel>Selesai</ng-template>
								<div fxLayout='column'>
									
								</div>
								<div>
									<button color='primary' mat-raised-button matStepperPrevious>Back</button>
									<button color='primary' mat-raised-button>Selesai</button>
								</div>
							</mat-step>
						</mat-vertical-stepper>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</pp2-dry-container>
</div>