<div class='pp2-su-mobilrForm'>
	<pp2-dry-nav #C_Pp2_Dry_Nav></pp2-dry-nav>
	<pp2-dry-container #C_Pp2_Dry_Container>
		<div class="container pp2-content margin-auto">
			<form [formGroup]='mobilForm' fxLayout='column' (submit)='pp2OnSubmit($event, mobilForm.value)' fxLayoutAlign='center center'>
				<mat-card class='full-width'>
					<mat-card-header>
						<mat-card-title>Tambah Kendaraan</mat-card-title>
					</mat-card-header>
					<mat-card-content fxLayoutAlign='center center'>
						<div class="pp2-dry-mobilForm-container" fxLayout='column' style='height: 100%;width: 100%;'>
							<div fxFlex>
								<pp2-dry-fileImage #fi></pp2-dry-fileImage>
							</div>
							<div fxFlex>
								<mat-form-field class='full-width'>
									<input formControlName='nama' matInput placeholder="Nama Mobil" required type="text">
								</mat-form-field>
							</div>
							<div fxFlex>
								<mat-form-field class='full-width'>
									<input formControlName='platNo' matInput placeholder="Plat Nomor" required type="text">
								</mat-form-field>
							</div>
							<div fxFlex>
								<mat-form-field class='full-width'>
									<input formControlName='kursi' matInput placeholder="Jumlah Kursi" required step='1' type="number">
								</mat-form-field>
							</div>
							<div fxFlex>
								<mat-form-field class='full-width'>
									<mat-select formControlName='bensin' placeholder='Bahan Bakar' required>
										<mat-option value='Pertamax'>Pertamax</mat-option>
										<mat-option value='Premium'>Premium</mat-option>
										<mat-option value='Pertalite'>Pertalite</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div fxFlex>
								<mat-form-field class='full-width'>
									<input formControlName='hargaSewa' matInput placeholder="Sewa perhari" required step='5000' type="number">
								</mat-form-field>
							</div>
							<div fxFlex>
								<mat-form-field class='full-width'>
									<textarea formControlName='kondisi' matInput MatTextareaAutosize placeholder='Kondisi Kendaraan' required=""></textarea>
								</mat-form-field>
							</div>
						</div>
					</mat-card-content>
					<mat-card-actions>
						<button [disabled]='disable' mat-button type='submit'>Save</button>
					</mat-card-actions>
				</mat-card>
			</form>
		</div>
	</pp2-dry-container>
</div>
