<div class="pp2-container">
	<mat-sidenav-container fullscreen>
		<mat-sidenav #C_Mat_Sidenav [mode]='$_Pp2MQ.screen.isGT600px ? "side" : "over"' [opened]='$_Pp2MQ.screen.isGT600px ? true : false '>
			<mat-nav-list>
				<mat-list-item>Foo</mat-list-item>
				<mat-list-item>Foo</mat-list-item>
				<mat-list-item>Foo</mat-list-item>
				<mat-list-item>Foo</mat-list-item>
				<mat-list-item>Foo</mat-list-item>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content class='grey lighten-2'>
			<pp2-nav ($C_Mat_Sidenav_Click$)='C_Mat_Sidenav.toggle()' class='z-depth-5'></pp2-nav>
			<ng-content></ng-content>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
