<div class="pp2-dry-supirView">
	<pp2-dry-container>
		<div class='container pp2-content margin-auto'>
			<mat-card>
				<mat-card-content>
					<mat-toolbar color='primary'>
						<button mat-icon-button matTooltip='Tambah Supir' [routerLink]="['/su/supir/tambah']">
							<mat-icon>add</mat-icon>
						</button>
						<mat-form-field class='full-width' color='accent' floatPlaceholder="never">
							<input matInput #filter placeholder="Cari Supir">
						</mat-form-field>
					</mat-toolbar>
					<mat-table #table [dataSource]="dataSourceWithDetails" matSort>
						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="user-row" [style.borderBottomColor]="expandedSupir == row ? 'transparent' : ''" (click)="rowClick(row)"></mat-row>
						<mat-row *matRowDef="let row; columns: ['details']; when: isDetailRow" [@detailExpand]="row.data == expandedSupir ? 'expanded' : 'collapsed'" style="overflow: hidden"></mat-row>
						<!-- Detail Column -->
						<ng-container matColumnDef="details">
							<mat-cell *matCellDef="let row">
								<ng-container *ngIf="wasExpanded.has(row.data)">
									<table>
										<colgroup width='33%'></colgroup>
										<tr>
											<td colspan="2" style="padding: 5px;">
												<img [src]="'/uploads/supir/' + row.data.image" style='max-width: 400px;align-self: center; justify-self: center;'>
											</td>
										</tr>
										<tr>
											<td>Nama</td>
											<td>{{ row.data.nama }}</td>
										</tr>
										<tr>
											<td>No. SIM</td>
											<td>{{ row.data.noSIM }}</td>
										</tr>
										<tr>
											<td>Jenis Kelamin</td>
											<td>{{ row.data.jk }}</td>
										</tr>
										<tr>
											<td>No. HP</td>
											<td>{{ row.data.noHP }}</td>
										</tr>
										<tr>
											<td>Email</td>
											<td>{{ row.data.email }}</td>
										</tr>
										<tr>
											<td>Alamat</td>
											<td>{{ row.data.alamat }}</td>
										</tr>
									</table>
								</ng-container>
							</mat-cell>
						</ng-container>

						<!-- Column Definition: id -->
						<ng-container matColumnDef="id">
							<mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
						</ng-container>
						<!-- Column Definition: nama -->
						<ng-container matColumnDef="nama">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Nama </mat-header-cell>
							<mat-cell *matCellDef="let row;"> {{row.nama}} </mat-cell>
						</ng-container>
						<!-- Column Definition: noSim -->
						<ng-container matColumnDef="noSim">
							<mat-header-cell *matHeaderCellDef mat-sort-header> No.SIM </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.noSIM}} </mat-cell>
						</ng-container>
						<!-- Column Definition: jk -->
						<ng-container matColumnDef="jk">
							<mat-header-cell *matHeaderCellDef mat-sort-header> JK </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.jk}} </mat-cell>
						</ng-container>
						<!-- Column Definition: noHP -->
						<ng-container matColumnDef="noHP">
							<mat-header-cell *matHeaderCellDef mat-sort-header> No.HP </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.noHP}} </mat-cell>
						</ng-container>
						<!-- Column Definition: alamat -->
						<ng-container matColumnDef="alamat">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Alamat </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.alamat}} </mat-cell>
						</ng-container>
						<!-- Column Definition: email -->
						<ng-container matColumnDef="email">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
						</ng-container>
						<!-- Column Definition: image -->
						<ng-container matColumnDef="image">
							<mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
							<mat-cell *matCellDef="let row" style='padding: 10px !important'>
								<img [src]="CONFIG.socket + '/uploads/supir/' + row.image" style='max-height: 150px;max-width: 150px;align-self: center; justify-self: center;'>
							</mat-cell>
						</ng-container>
						<!-- Column Definition: action -->
						<ng-container matColumnDef="action">
							<mat-header-cell *matHeaderCellDef> Tindakan </mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button color='accent' mat-raised-button mat-icon-button matTooltip='Ubah Data Supir' [routerLink]='"/su/supir/ubah/" + row.id'>
									<mat-icon>mode_edit</mat-icon>
								</button>
								<button color='danger' mat-raised-button mat-icon-button matTooltip='Hapus Supir' (click)='remove(row.id)'>
									<mat-icon>delete</mat-icon>
								</button>
							</mat-cell>
						</ng-container>
					</mat-table>
					<mat-paginator color='accent' #paginator [length]="supirDatabase.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
				</mat-card-content>
			</mat-card>	
		</div>
	</pp2-dry-container>
</div>
