<div class="pp2--nav">
	<nav>
		<mat-toolbar color='primary'>
			<button mat-icon-button>
				<mat-icon class='pointer' (click)='$C_Mat_Sidenav_Click$.next()'>menu</mat-icon>
			</button>
			<span class='margin-l-20px'>Rental Mobil</span>
			<span class='flex-auto'></span>
			<button mat-button routerLink='/'><a>Home</a></button>
			<button mat-button routerLink='/dev'><a>Dev</a></button>
			<button class='!auth.signedIn' mat-button routerLink='/daftar/pengguna'><a>Sign Up</a></button>
			<button class='!auth.signedIn' mat-button routerLink='/masuk/pengguna'><a>Sign In</a></button>
			<button class='auth.signedIn' mat-button log-out><a>Sign Out</a></button>
			<button mat-button [matMenuTriggerFor]='C_Mat_gg'> Pengguna </button>
		</mat-toolbar>

		<mat-menu #C_Mat_gg='matMenu' [overlapTrigger]='false'>
			<button mat-menu-item routerLink="/daftar/pengguna"><a>Daftar</a></button>
			<button mat-menu-item routerLink="/su/pengguna/lihat"><a>Lihat</a></button>
		</mat-menu>	
	</nav>
</div>
