<div class="pp2--nav pp2----nav">
	<nav>
		<mat-toolbar color='primary'>
			<button *ngIf='isDevMode()' mat-icon-button>
				<mat-icon class='pointer' (click)='$C_Mat_Sidenav_Click$.next()'>menu</mat-icon>
			</button>
			<span class='margin-l-20px pointer' routerLink='/'>Rental Mobil</span>
			<span class='flex-auto'></span>
			<button mat-button routerLink='/mobil'><a>Mobil</a></button>
			<button mat-button routerLink='/supir'><a>Supir</a></button>
			<button mat-button routerLink='/saya/sewa'><a>Sewa</a></button>
			<button *ngIf='saya' mat-button routerLink='/saya'><a>Saya</a></button>
			<button *ngIf='!saya' mat-button routerLink='/pendaftaran/pengguna'><a>Daftar</a></button>
			<button *ngIf='!saya' mat-button routerLink='/masuk/pengguna'><a>Masuk</a></button>
		</mat-toolbar>
	</nav>
</div>
